* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main{
    text-align: center;
}
main section{
    display: block;
    text-align: center;
}
div{
    margin-top: 50px;
}
.boton{
    width: 50vw;
    color: white;
    font-weight: bold;
    transition: all 450ms;
}
a{
    text-decoration: none;
}
.boton a:visited{
    color: white;
}
.boton:hover{
    background-color: #0022AA;
}
footer{
    width: auto;
    justify-content:space-around
}
footer div{
    width: 28%;
}
input:valid{
    border:1px solid white;
}